@import "tailwindcss";

@theme {
  --color-gold-400: #f3c96e;
  --color-gold-500: #e7b24b;
  --color-gold-600: #c7922d;
  --color-dark-300: #1a1a1a;
  --color-dark-400: #0a0a0a;
  --color-dark-500: #000000;
}

@layer base {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}
